@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 ql-font-serif">Welcome</h1>
    <h2 class="display-4 ql-font-serif bx-font-color">To Pratham IT</h2>
    @*<img src="https://imgs.search.brave.com/gK18VGunMgJdHZACx2KKV1GzYkQn2xK6EWJxVXk49Kw/rs:fit:606:606:1/g:ce/aHR0cHM6Ly93d3cu/Y2hhb3RpY2h5cG5v/LmNvbS9zeXN0ZW0v/ZmlsZXMvaW1hZ2Vz/L2J3c3BpcmFsMS5n/aWY.gif"  />*@
    <img src="https://webngfx.com/wp-content/uploads/2021/11/website-development.svg" style="background-color:#f8f9fa;" />
</div>
