@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 ql-font-serif">Welcome</h1>
    <h2 class="display-4 ql-font-serif bx-font-color">To Pratham IT</h2>
</div>
